.message-red{
    color: red;
}

.message-blue{
    color: blue;
}

.parking-message-container{
    background-color: lightgrey;
    color: saddlebrown;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 50%;
}