/* general flash message container */
.message-red{
    color: red;
}

.message-blue{
    color: blue;
}

/* parking message container css */
.parking-message-container{
    background-color: lightgrey;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    position: inherit;
    height: auto;
    max-height: 500px;
    width: auto;
}

/* parking message colors */
.carStatusMessage-red{
    color: darkred;
}
.carStatusMessage-green{
    color: darkgreen;
}
.carStatusMessage-blue{
    color: darkblue;
}
.carStatusMessage-black{
    color: black;
}
