.message-red{
    color: red;
}

.message-blue{
    color: blue;
}

.parking-message-container{
    background-color: lightgrey;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    width: 50%;
}

.carStatusMessage-red{
    color: darkred;
}
.carStatusMessage-green{
    color: darkgreen;
}
.carStatusMessage-blue{
    color: darkblue;
}
.carStatusMessage-black{
    color: black;
}